[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "orion/vendor/storage-incentives"]
	path = orion/vendor/storage-incentives
	url = https://github.com/ethersphere/storage-incentives.git
